<div class="d-flex w-75 mx-auto my-3 product-card-list">
    @foreach (var card in Cards)
    {
        <CardComponent Card="card" />
    }
</div>

@code {
    List<ProductCard> Cards = new()
    {
        new ProductCard { Image = "images/img_action.png", Heading = "Action"},
        new ProductCard { Image = "images/img_comedy", Heading = "Comedy"},
        new ProductCard { Image = "images/img_cooking", Heading = "Cooking"}
    };
}